<%= form_with(model: artigo) do |form| %>
  <% if artigo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artigo.errors.count, "error") %> prohibited this artigo from being saved:</h2>

      <ul>
        <% artigo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.textarea :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
